<div class="container">
    <div class="row">
        <div class="col-md-4 centered card-container">
            <div class="card content" [ngClass]="isFlipped ? 'card-flip' : ''">
                <div class="front">
                    <div class="card-body">
                        <h5 class="card-title text-center">URL SHORTENER</h5>
                        <form [formGroup]="urlToShortenForm" class="mt-5" (ngSubmit)="shortenUrl()"> 
                            <input formControlName="urlToShorten" id="urlToShorten" type="text" class="form-control" placeholder="Enter url to shorten">
                            <div class="text-right mt-2">
                                <button type="submit" class="btn btn-primary">Shorten!</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="back">
                    <div class="card-body">
                        <h5 class="card-title text-center">URL SHORTENER</h5>
                        <p>Original url: </p>
                        <input type="text" class="form-control" value="{{ originalUrl }}" readonly>
                        <p class="mt-3">Shortened url: </p>
                        <input type="text" class="form-control" value="{{ shortenedUrl }}" readonly>
                        <div class="text-right mt-2">
                            <button type="button" class="btn btn-primary" (click)="flip()">Let's shorten another link!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>